.mainBiografia {
    @include texto-centrado;
}
.tituloBiografia {
    animation: titulos-animacion 2s ease 0s 1 normal forwards;
}
.iframeBiografia {
    display: flex;
    flex-direction: row;
    margin: auto;
    width:60%;
    height: 60%;
    background-color: black;
    border-radius: 5%;
    margin-bottom: 4rem;
    @include sombras-verdes;
}
@media (min-width: $tablet) {
    .iframeBiografia {
        width: auto;
    }
}